@import url(./_global.scss);

:root {
	--primary-color: rgb(76, 79, 217);
	--column-width: min(calc(100vw / 7), 120px);
	--time-slot-width: calc(var(--column-width) - 4px);
	--heading-height: 32px;
	--column-height: 0; // set via js
	// --column-height: 768px; // set via js
}

@mixin flex($justify: center, $align: center) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

.app {
	// border: 1px solid;

	.availability-widget {
		border: 1px dashed red;

		.columns-container {
			border: 1px dashed blue;
			display: flex;

			.day-column {
				border: 1px solid;
				width: var(--column-width);
				display: flex;
				flex-direction: column;

				.column-header {
					border: 1px solid;
					height: var(--heading-height);
					background-color: var(--primary-color);
					color: #fff;
					@include flex();
				}
				.column-content {
					border: 1px solid;
					height: var(--column-height);
					border: 1px solid purple;
					position: relative;

					.time-slot {
						position: absolute;
						display: flex;
						flex-direction: column;
						@include flex(space-between, center);
						font-size: small;
						width: var(--time-slot-width);
						background-color: coral;
						opacity: 0.4;

						.top-drag-area,
						.bottom-drag-area {
							width: 100%;
							height: 8px;
							border: 1px dashed;
						}
						.top-drag-area {
							cursor: pointer;
						}
						.bottom-drag-area {
							cursor: pointer;
						}
						.central-area {
							border: 1px dashed red;
							background-color: orange;
							width: 100%;
							height: calc(100% - 16px);
							// height: 100%;
						}
					}
				}
			}
		}
	}
}
